.create{
    height: 100vh;
    width: 100%;
    background: url("https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}