
.read{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://cdn.pixabay.com/photo/2015/12/29/14/51/mountains-1112911_640.jpg");
    /* opacity: 0.8; */
    background-size: cover;
    /* margin-top: 200px; */
    background-repeat: no-repeat;
}
.readsec{
    
    border: 1px solid black;
    background-color: black;
    color: white;
    opacity: 0.4;
    width: 30%;
    height: 30vh;
    text-align: center;

}
p{
    font-size: large;
}
.readsec button{
    margin-right: 20px;
}
span{
    color: wheat;
}
h1{
    color: orange;
}